<div name="searchFlight" id="searchFlight">
  <fieldset id="search">
    <div class="inline">
      <mat-form-field>
        <mat-label>Company</mat-label>
        <mat-select>
          <mat-option></mat-option>
          <mat-option>Air France</mat-option>
          <mat-option>Emirates</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="inline">
      <div class="left">
        <mat-form-field class="left">
          <mat-label>Trip</mat-label>
          <mat-select>
            <mat-option></mat-option>
            <mat-option>One Way Trip</mat-option>
            <mat-option>Round Trip</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="right">
          <mat-label>Flight Type</mat-label>
          <mat-select>
            <mat-option></mat-option>
            <mat-option>Direct Flight</mat-option>
            <mat-option>Connecting Flight</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="right">
        <mat-form-field>
          <input matInput placeholder="Aircraft Type" />
        </mat-form-field>
      </div>
    </div>
  </fieldset>
</div>
